body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    text-align: center;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 14px;
    margin-top: -50px;
    color: rgb(238, 15, 227);
    font-weight: bold;
    font-size: 30px;

  }
  
  /* Position the "next button" to the right */
  .next {
    right: 375px;
    
  }
  .prev{
    left: 375px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev,
  .next {
    background-color: rgba(0, 1, 8, 0.8);
    
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #160101;
    font-size: 40px;
    padding: 8px 12px;
    position:fixed;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.5%;
    padding: 4px;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }